[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
pytest = "7.2.0"
sqlalchemy = "2.5.1"
flask-bcrypt = "*"
faker = "==15.3.2"
config = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
